bin/
obj/
.*
!/.gitignore
/INFOGR2024Template/.vs
/INFOGR2024Template/obj
/INFOGR2024Template/.vs/INFOGR2024Template
*.cache
/INFOGR2024Template/obj/Debug
/INFOGR2024Template/obj/Debug/net6.0
/INFOGR2024Template/obj
/INFOGR2024Template/obj
/INFOGR2024Template/.vs
/INFOGR2024Template/obj/Debug
/INFOGR2024Template/obj/Debug/net6.0
/INFOGR2024Template/obj/Debug/net6.0
INFOGR2024Template/.vs/INFOGR2024Template/DesignTimeBuild/.dtbcache.v2
INFOGR2024Template/.vs/INFOGR2024Template/FileContentIndex/cf4c8f25-cdd9-4f1e-88ea-739e9c447edf.vsidx
INFOGR2024Template/.vs/INFOGR2024Template/v17/.suo
INFOGR2024Template/obj/Debug/net6.0/INFOGR2024Template.AssemblyInfo.cs
INFOGR2024Template/obj/Debug/net6.0/INFOGR2024Template.AssemblyInfoInputs.cache
INFOGR2024Template/obj/Debug/net6.0/INFOGR2024Template.assets.cache
INFOGR2024Template/obj/Debug/net6.0/INFOGR2024Template.GeneratedMSBuildEditorConfig.editorconfig
INFOGR2024Template/obj/INFOGR2024Template.csproj.nuget.dgspec.json
INFOGR2024Template/obj/project.assets.json
INFOGR2024Template/obj/project.nuget.cache
*.v2
